body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A39462;
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
    color: #fff;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.project-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.project-container:hover {
    transform: scale(1.05);
}

.project-container h2 {
    color: #A39462;
}

.project-container p {
    margin: 10px 0;
}

.project-container a {
    color: #A39462;
    text-decoration: none;
    font-weight: bold;
}

.project-container a:hover {
    color: #1abc9c;
}

footer {
    
    width: auto;
    height: auto; 
    background-color: #454444;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-top: 200px; 
  }